
section{
	margin-top: 15px;
}

body{
	margin:0px;
	padding:0px;
}

#main{
	margin:0px auto;
	max-width:960px;
	min-width:700px;
}

header{
	padding-bottom:20px;
}
article{
	width:71%;
	margin-right:29%;
}
aside{
	width:25%;
	margin-right:1%;
	float:right;
	padding-left:1%;
	padding-right:1%;
	background-color: rgb(235,243,221);
}

.big{	
	font-size:0.7em;
	line-height:1.7;

}

.music{
	font-size:1.4em;
}
 #break,#ps{
	font-weight:bold;
}
#cafe{
	font-size: 1.2em;
}                       

thead>tr:nth-child(1){
	background-color:rgb(147,195,30);
	}
tbody>tr:nth-child(8),:nth-child(19){
	background-color:white;
	}


h3,h4{
	width:62%;
	
}

footer {
	width:960px;
    display: flex;
    border-top: dotted;
    border-top-width: 1px;
    border-bottom: solid;
    border-bottom-width: 10px;
    border-color: rgb(192, 192, 192);
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
    line-height: 1.7;
}
footer>div:nth-child(1) {
    display: flex;
    align-items: center;
    flex: 5.5;
}
footer>div:nth-child(2) {
    text-align: right;
    flex: 4.5;
}
footer>div:nth-child(2)>a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

/*頭*/
.top{
	display: flex;
	flex-direction: row;
}
.top:nth-child(1){
	justify-content:flex-start;
	margin-top: 5px;
}
.top:nth-child(2){
	justify-content:flex-start;
}


#selection1{
	display: flex;
	flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin-bottom: 5px;
	font-size: 0.7em;
	font-family: Arial;
	margin-top: 20px;
	align-content:flex-end;
}
/*選項與圖--------------------------*/

.sele>div>a:link{
	color: darkgreen;
	text-decoration:none;	
}

.sele>div>a:visited{
	color: orange;	
}
.sele>div>a:hover{
	color: red;	
}

.sele{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;	
	align-content:flex-end;	
	height: 120px;
	margin-top: 25px	
}
#art{
	margin-bottom: 50px;
	margin-right: 275px;
	margin-top: 25px;
	flex: 1.5;
}

.item{
	width:20%;
	line-height: 25px;
	list-style-type: none;
	font-size: 0.7em;
}


.toppic{
	display:flex;
	flex-direction: row;
	background-color: black;
	height: 300px;
	width:900px;
	margin-bottom: 20px;
}

#pic2{
	margin-top: 10px;
	margin-left: 30px;

}
pre {
    color: white;
    line-height: 1.6;
    font-size: 0.9em;
}
strong {
    color: rgb(255, 78, 30);
}

.g{
	background-color: rgb(235,243,221);
}
/*------節目表----*/  
#down{
	margin-right: 1%;
}

.table{
	display: flex;
	flex-direction: column;
	margin: auto;
}



.greenbar {
	display: flex;
	flex-direction: row;
    color: rgb(85, 140, 30);
    font-size: 1.4em;
}

.section{
	display: flex;
	flex-direction: column;
	width: 430px;
	margin-left: 50px;
	height: 20px;
}

.pic{
	display: flex;
	flex-direction: column;
	align-content:space-around;
	width: 250px;
}

.both{
	display: flex;
	flex-direction: row;
	width:681.6px;
}


footer {
    display: flex;
   flex-direction: row
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
    line-height: 1.7;
}

.par{
	font-size: 0.7em;
	line-height: 1.7;
}

